<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <script src="./buttons.js"></script>

</head>
<body>
    
    <audio id="lSound" src="./light-switch-81967.mp3"></audio>

    <canvas class="canvas"></canvas>

    <b class="Instructions">Click to ignite!</b>

    
    <form method="post" action="/">
        <input type="submit" value="light-1" name="Light 1" />
        <input type="submit" value="light-2" name="Light 2" />
    </form>
  
</body>
</html>