<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <script src="./buttons.js"></script>

</head>
<body>
    

    <canvas class="canvas"></canvas>

    <!--
    <form method="post" action="/">
    -->

        <button class="btn1" onclick="yLight(document.getElementsByClassName('yb'))">

            <img id="yb" class="yb" src="./Buttons/Yellow_Bulb_Off.png" alt="">
            

        </button>

        <!--
        <input class="" type="submit" value="" name="light-1" />
       -->
        
       <button class="btn2">

        <img class="bb" src="./Buttons/Blue_Bulb_Off.png" alt="">

       </button>

       <!--
        <input class="" type="submit" value="" name="light-2" />
        -->


    <!--
    </form>
   -->

</body>
</html>