<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="./buttons.js"></script>

</head>
<body>
    <audio id="lSound" src="./light-switch-81967.mp3"></audio>

    <canvas class="canvas"></canvas>

    <h1>Click to ignite!</h1>


    <form method="post" action="/">
        <input class="button" type="submit" value="light-1" name="light-1" />
        <input class="button" type="submit" value="light-2" name="light-2" />
    </form>
  
</body>
</html>